<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title> Piloting Page HOME </title> -->
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/navbar_styles.css')}}" />
</head>

<body>

    <nav class="navbar">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="stats_668">SG668</a></li>
            <li><a href="stats_609">SG609</a></li>
        </ul>
    </nav>

    <!-- Only show subnavigation bar if not in HOME website -->
    {% if homeFlag==False %}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/subnavbar_styles.css')}}" />

    <nav class="subnavbar">
        <ul>
            <li><a href="stats_{{sgid}}">STATS</a></li>
            <li><a href="table_{{sgid}}">TABLE</a></li>
            <li><a href="map_{{sgid}}">MAP</a></li>
        </ul>
    </nav>
    {% endif %}

    <!--  Show specifit page content -->
    {% block content %}{% endblock %}

</body>

</html>