<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SG{{ sgid }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <table class="table">
        {{ table_data|safe }}

        <!-- <tr class="table_header">
            {% for header in headers %}
            <th class="table_header"> {{header}} </th>
            {% endfor %}
        </tr>
        
        <tr class="table_row"> 
            <td class="table_cell"> data1 </td>
        </tr>
        <tr>
            <td class="table_cell"> data2 </td>
        </tr> -->

    </table>


    
</body>
</html>

